
body {
    margin: 0px;
}

main {
    height:100vh;
    width: 100vw;
    display: grid;

    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "hea nav nav"
    "art art tco"
    "foo foo foo";
}

ticketstackcontent {
    grid-area: tco;
    background: lightpink
}

header {
    grid-area: hea;
    background: lightblue;
}

footer {
    grid-area: foo;
    background: lightcoral;
}

nav {
    grid-area: nav;
    background: lightgreen;
}

article {
    grid-area: art;
    background: lightgoldenrodyellow;
}