

<div><h2>List of Tickets(#{{ (tickets$ |async)?.length }})</h2></div>

<div class="ts-table-container mat-elevation-z8">

<mat-table [dataSource]="tickets$">

  <ng-container matColumnDef="btnUp">
      <mat-header-cell *matHeaderCellDef>Up</mat-header-cell>
      <mat-cell *matCellDef="let entry"><button *ngIf="!entry['first']" mat-stroked-button (click)="moveUp(entry)">Up</button></mat-cell>
  </ng-container>

  <ng-container matColumnDef="btnDown">
      <mat-header-cell *matHeaderCellDef>Down</mat-header-cell>
      <mat-cell *matCellDef="let entry"><button *ngIf="!entry['last']" mat-stroked-button (click)="moveDown(entry)">Down</button></mat-cell>
  </ng-container>

  <ng-container matColumnDef="ticket">
      <mat-header-cell *matHeaderCellDef>Ticket</mat-header-cell>
      <mat-cell (click)="entryClicked(entry)" *matCellDef="let entry">{{ entry.ticket }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
      <mat-cell *matCellDef="let entry" (click)="entryClicked(entry)" >{{ entry.text }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="btnDelete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let entry"><button mat-stroked-button (click)="delete(entry)">Delete</button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
</div>

<form [formGroup]="theForm" (ngSubmit)="submit()" class="the-form">

  <mat-form-field class="the-form-full-width" >
    <input matInput placeholder="Ticket" formControlName="ticket">
  </mat-form-field>

  <mat-form-field class="the-form-full-width">
    <textarea matInput placeholder="Text" rows="10" formControlName="text" ></textarea>
  </mat-form-field>

  <button mat-stroked-button type="submit">Add/Update</button>
</form>
