
.ts-table-container {
  height: 400px;
  overflow: auto;
}

.mat-column-btnUp {
  flex: 0 1 88px;
}

.mat-cell {
  padding-left: 8px
}


.mat-header-cell {
  padding-left: 8px;
  display: flex;
}

.mat-header-cell.mat-column-btnUp, .mat-header-cell.mat-column-btnDown, .mat-header-cell.mat-column-btnDelete {
  justify-content: center;
}

.mat-column-btnDown {
  flex: 0 1 88px;
}

.mat-column-btnDelete {
  flex: 0 1 88px;
}

.mat-table {
    display: table;
    width: 100%;
}

.the-form {
  margin-top: 48px;
  min-width: 300px;
  /* max-width: 500px; */
  width: 80%;
}

.the-form-full-width {
  width: 100%;
}
